:root{
/* Paleta padrão */
    --cor-clara: white;
    --cor-escura: #222;
    --cor-neutra: rgb(242, 242, 242);
    --cor-primaria: #058bd6;
    --cor-secundaria: rgba(71, 138, 201, .40);
    --cor-terciaria: rgb(76, 115, 151);

/* Fundo da página */
    --cor-fundo: #e9f2fa;

/* Botões */
    --cor-btn: rgb(56, 124, 189);
    --cor-btn-hover:rgb(13, 95, 172);
    --cor-btn-opaco: transparent;
    --cor-btn-opaco-hover: rgba(255,255,255,.3);

/* Cards */
    --cor-card: #F5F5F5;
    --cor-card-boxshadow: gray;

/* ícone */
    --cor-icone: rgb(153, 153, 153);

/* Input */
    --cor-input: rgb(153, 153, 153);

/* Footer */
    --cor-footer: rgb(5, 139, 214);
}