/* Display para reuso */
.grid{
    display: grid;   
    grid-template-columns: repeat(3, 1fr);    
  }




/* Responsividade */

/* ---------- Breakpoint 1 ---------- */
@media only screen and (max-width:1440px){

    .grid{  grid-template-columns: repeat(3, 1fr);  }
}


/* ---------- Breakpoint 2 ---------- */
@media only screen and (max-width:1024px){

    .grid{  grid-template-columns: repeat(3, 1fr);  }
}


/* ---------- Breakpoint 3 ---------- */
@media only screen and (max-width:768px){

    .grid{  grid-template-columns: repeat(2, 1fr);  }
}


/* ---------- Breakpoint 4 ---------- */
@media only screen and (max-width:555px){

    .grid{  grid-template-columns: 1fr;  }
}


