
/* ---------- Breakpoint 1 ---------- */
@media only screen and (max-width:1380px){
    /* Grid Seção 4 */
    .main-content__section--4__grid {    
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 400px);
    }

    .main-content__section--4__picture {
        height: 100%;
        width: 100%;
    }
    
    .main-content__section--4__picture--lg {    
        grid-column: 1/3;
        grid-row: 1/2;  
    }
}




/* ---------- Breakpoint 2 ---------- */
@media only screen and (max-width:1024px){
    
    /* Cabeçalho */
    .header-page__subtitle{  font-size: 1.3rem;  }
       .header-page__title{  font-size: 3.5rem;  }

    /* Seção 2 */
    .main-content__section--2__title{  margin-bottom: 10px;  }
        .main-content__section--2__input{  margin-top: 5px;  }

    .main-content__section--2__btn{  margin: 10px 0 0 0;  }

    .main-content__section--2__subtitle{
        font-size: .87rem;
        margin: 10px 0;        
    }
    
    .main-content__section--2__list{
        padding: 0;
        margin-top: 10px;
    }

    /* Seção 4 */
    .main-content__subtitle{
        width: 80%;
        margin: 0 auto 20px auto;
   }  


    /* Footer */
   .footer-content{  height: 180px;  }

}




/* ---------- Breakpoint ---------- 3 */
@media only screen and (max-width:870px){
    /* Cabeçalho */
    .header-page{  height: 750px;  }

    .header-page__title{    
        font-size: 3rem;   
        margin-bottom: 30px;
    }

    .nav-top--scroll {  height: 40px;  }
    .nav-top--scroll .nav-top__btn {  padding: 5px 30px;  }

    /* Seção 1 */
    .main-content__grid{  
        grid-template-columns: repeat(2, 1fr);
        margin: 60px auto 0 auto;
    }


    /* Seção 2 */
    .main-content__section--2__list{    
        display: inline-flex;
        margin-left: 20px;
    }


    /* Seção 3 */
    .main-content__container{  width: 80%;  }

    .main-content__container__subtitle{  font-size: 1rem;  }
       .main-content__container__title{  font-size: 2rem;  }   

    .main-content__container__btn{
        border: 2px solid var(--cor-clara);
        padding: 15px 20px;
    }


    /* Seção 4 */
    .main-content__section--4__grid{   
        margin: 50px auto 0px;  
        grid-template-rows: 400px repeat(2,250px);
    }


    /* footer */
    .footer-content{  height: 150px;  }

    .footer-content__title{  font-size: 1.3rem;  }
                     .icon{  font-size: 1.2rem;  }

    .footer-content__copy{
        font-size: 0.7rem;
        margin-bottom: 0px;
    }
    
    .footer-content__btn{    
        width: 25px;
        height: 25px;
    }

}




/* ---------- Breakpoint ---------- 4 */
@media only screen and (max-width:700px){
    /* Seção 1 */
    .main-content__grid{  grid-template-columns: repeat(1, 1fr);  }
    
    /* Seção 2 */
    .main-content__section--2__title{  margin-bottom: 20px;  }
    .main-content__section--2__input{  width: 100%;  }
   
}




/* ---------- Breakpoint ---------- 5 */
@media only screen and (max-width:555px){

    /* Cabeçalho */
    .header-page__title{  
        font-size: 2.5rem;  
        letter-spacing: 5px;
    }

    .header-page__subtitle{
        font-size: 1rem;
        width: 80%;
    }
    
    
    /* Seção 2 */
    .main-content__section--2__col{
        margin-top: 20px;
        text-align: center;
    }

    .main-content__section__title{  text-align: center;  }
    .main-content__section--2__input{  width: 65%;  }
    .icon{  font-size: 1.4rem;  }    

    .main-content__section--2__btn{
        margin: 10px 0 0 5px;
        padding: 15px 30px;
    }


    /* Seção 3 */
    .main-content__container__subtitle{  font-size: .9rem;  }
    .main-content__container__title{  font-size: 1.8rem;  }
    .main-content__container__btn{  padding: 10px 20px;  }    


    /* Seção 4 */
    .main-content__section--4__grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
    }

    .main-content__section--4__picture--lg{    
        grid-column: 1/2;
        grid-row: 1/2;  
    }

    .picture{
        width: 100%;
        height: 100%;
    }

    .main-content__title-lg{  font-size: 1.7rem;  }
    .main-content__subtitle{  font-size: .9rem;  }

    /* Footer */
    .footer-content{  margin-top: 35px;  }
}



/* ---------- Breakpoint ---------- 6 */
@media only screen and (max-width:326px){
    /* Cabeçalho */
    .header-page__subtitle{  font-size: .94rem;  }

    /* Seção 2 */
    .main-content__section--2__list{
        display: flex;
        justify-content: center;
    }

    .main-content__section--2__btn{
        margin: 10px 0 0 5px;
        height: 30px;
        width: 80%;
        padding: 0px;
    }
    .main-content__section--2__input{ 
         width: 80%; 
         text-align: center;
    }
}